[Unit]
Description=Keep online in CityU HK compus network

[Service]
# You can put environment variables as configuration here.
# If they are secrets, just make sure this systemd service file has proper UNIX permissions.
Environment=CITYUHK_USERNAME=your_username
Environment=CITYUHK_PASSWORD=your_password
# ...Or override the above environment variables with a file
EnvironmentFile=-/etc/default/cityuhk-keep-online
Type=oneshot
ExecStart=/usr/local/bin/cityuhk-keep-online
User=cityuhk-keep-online
DynamicUser=true
