[Unit]
Description=Timer to login CityU HK CP37 captive portal to keep your host online
Requires=network.target

[Timer]
# Run daily.
# See https://www.freedesktop.org/software/systemd/man/latest/systemd.time.html for the syntax.
OnCalendar=5:00:00
# If stopped and then restarted, count the stopped time.
Persistent=true
# Randomized 1h delay to avoid DDoS.
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
