[Unit]
Description=Login CityU HK CP37 captive portal to keep your host online

[Service]
# You can put environment variables as configuration here.
# Since they are secrets, just make sure this systemd service file has a proper UNIX permission, e.g., 600.
Environment=CP37_CITYU_USERNAME=your_username
Environment=CP37_CITYU_PASSWORD=your_password
# PATH is set to a fixed default value for systemd services.
# We manually set it to let the program find the Chromium executable.
Environment=PATH=/usr/local/bin:/usr/bin:/bin
# You can override the above all and other environment variables in this file
EnvironmentFile=-/etc/default/cp37-login
Type=oneshot
ExecStart=/usr/bin/cp37-login
User=cp37-login
DynamicUser=true
# Good sandboxing practice.
# See https://0pointer.net/blog/dynamic-users-with-systemd.html for details.
ProtectSystem=strict
ProtectHome=read-only
PrivateTmp=yes
RemoveIPC=yes
